*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(180, 167, 167);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;

}
.card{
    height: 340px;
    width: 240px;
    background-color:black;
    border-radius: 10px;
    padding: 10px;
    color: rgb(221, 179, 171);
  
}
.card > img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-top: -50px;
 
   
}
img {
    
    height: 90px;
    width: 100%;
    border-radius: 10px;
   
}
.card h1,h2{
    font-size:20px;
    font-weight: 400;
    margin-top: 3px;
    display: flex;
}
.card 
h5{
    margin-top: 5px;
    display: flex;
}
#btnbr{
    height: 45px;
    width: 100%;
     margin-top: 5px ;
    background-color: #201f1f;
    display: flex;
    padding: 5px;
    border-radius: 10px;
    color: aliceblue;
    
}
 button{
    margin-top: 5px;
    width: 100%;
padding:  10px;
border-radius: 50px;
background-color: royalblue;
border-color: royalblue;
}
button:hover{
    background-color: rgb(255, 251, 251);
    transform: scale(1.05);
    cursor: pointer;
}

