*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    padding: 20px;
    
    display: grid;
    grid-template-rows: 70px 28% 28% 50px 1fr;
    grid-template-columns: 15% 58% 27%;
    grid-template-areas: "header header header" 
                         "aside  figure righttop"
                         "aside figure rightcenter"
                         "aside infobar infobar" 
                         "aside  section  section"
                          ;
                          grid-gap: 8px;
   
}
header{
    background: linear-gradient( rgb(228, 178, 186),rgb(162, 230, 226));
 grid-area: header;
 display: flex;
 border-radius: 10px;
 justify-items: center;
 align-items: center;
 padding: 10px;
 
}
header icon{
    height: 70px;
    width: 70px;
    
}
header button{
    height: 40px;
    padding-right:200px;
    padding-left: 10px;
    margin-right: 20%;
    margin-left: 30%;
    border-radius: 20px;
    
}
header button #filter{
    position: fixed ;
    right: 47%; 
}
header a{
    margin-left:120px ;
}

header #i {
    padding: 10px;
    border-radius: 50px;
    border: solid 1px rgb(6, 5, 5);
    margin-left: 10px;
    
}


aside{
    background: red;
    grid-area: aside;
    /* position: fixed; */
    height: 100%;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    

}
aside ul ,li{
    text-decoration: none;
    padding: 8px;
    list-style: none;
    font-weight: 450;
    
}
figure{
    background: #f2f2f2;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
figure h1{max-width: 50%;

}
figure button{
  padding: 10px;
  margin-right:250px ;
  margin-top: 380px;

}

figure img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    position: absolute;
    right: 0px;
}
figure h1,p{
    display: flex;
}
righttop{
    background: olivedrab;
    grid-area: righttop;
    text-align: center;
    display: flex
   ;
   align-items: center;
   justify-content: center;
}
rightcenter{
    background: green;
    grid-area: rightcenter;
    padding: 10px;
}
infobar{
    background: yellowgreen;
     grid-area: infobar;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px;
     
}

infobar button{
padding:  10px;
border-radius: 50px;
border:none;
}
section{
    background: rgb(115, 70, 115);
    grid-area: section; 
    display: flex;
    
    justify-content: space-evenly;
}
  