@font-face {
    font-family: raj;
    src: url(./EagleHorizonP.ttf);
}
@font-face {
    font-family: raja;
    src: url(./Rockybilly.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;  
}

#box1{
    height: 100%;
    width: 100%;
    background-image: url(./nissan.avif);
    background-size: cover;
    background-position:center;
    text-align: center;
    padding-top: 50px;

}
#box1 h1{
  color: beige;
  font-family: raj;
  font-size: 100px;
  font-style:italic;
  font-weight: 400;

}
#box1 button{
    margin: 30px;
    padding: 15px 30px ;
   background-color:#460204;
   font-size: 600;
   font-weight: 600;
   color: beige;
   border: none;
   border-radius:50px;
    
}

footer{
    
    text-align: center;
    background-image: linear-gradient(90deg, #525F71,#090B0F );

}